.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.cart-container {
  background-color: #ffe0b3;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 40px;
}
