.cart-container {
  background-color: #ffe0b3;
  text-align: left;
  padding: 25px;
  position: sticky;
  top: 0;
}

.cart-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.cart-container p {
  font-size: 17px;
}
.cart-container h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
}

@media only screen and (max-width: 600px) {
  .cart-container {
    background-color: #ffe0b3;
  }
}
.btn-clear-cart {
  width: 90%;
  height: 56px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 14px;
  background: #ff3030;
  border-radius: 4px;
  font-size: 21px;
  color: #ffffff;
  border: none;
}
