.product-img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}

.product {
  border: 1px solid #95a0a7;
  width: 300px;
  height: 510px;
  border-radius: 8px;
  position: relative;
}

.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  margin-top: 0;
  margin-bottom: 0;
  color: #0e161a;
}

.product-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  margin-top: 11px;
  margin-bottom: 20px;
  color: #0e161a;
}
.product-info {
  margin-left: 14px;
}

.product-manufacturer {
  margin: 0;
}

.product-ratings {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cart-btn {
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}
.cart-btn:hover {
  background-color: rgb(248, 163, 4);
}
